.app {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
}